@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-weight: inherit;
  text-decoration: none;
  font-family: "Roboto", serif;
  color: inherit;
}

:root{
  /* Couleurs principales */
  --background-color : #F6F7F2;
  --text-color : #16161D;
  --pills-background-color : #ffffff;
  --carmine-color : #931621;
  --fire-brick-color : #AB3428;
  --pumpkin-color : #FF8C42;

  /* Couleurs secondaires */
  --easy-color : #59FF00;
  --moderate-color : #FFA600;
  --html-color : #E42404;
  --css-color : #115C95;
  --js-color : #F4E41B;

}

.dark{
  --background-color : #16161D;
  --text-color : #F6F7F2;
  --pills-background-color : #232329;
}

body{
  background-color: var(--background-color);
  color: var(--text-color);
}

header, footer{
  min-height: 50px;
  height: 10vh;
  width: 100vw;
  padding: 0 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1, h2, h3, h4, h5, h6, .logo-container a{
  font-family: "Bebas Neue", serif;
}

