.lesson-container{
	border: 1px rgba(0, 0, 0, 0.144)  solid;
	display: flex;
	justify-content: space-between;
	padding: 1rem 1.5rem 1rem 3rem;
	font-size: 1.3rem;
	align-items: center;
}

.lesson-container span{
	font-weight: 500;
}

.lesson-button{
	padding: 0.5rem 1rem;
	background-color: var(--purple-color);
	color: whitesmoke;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}