.course-pill-container{
    width: 35vw;
    border-radius: 20px;
    background-color: var(--pills-background-color);
    padding: 15px 20px;
    display: flex;
    gap: 2rem;
    font-weight: bold;
    margin: 0 auto;
    margin-bottom: 2rem;
}

.course-pill-informations{
    flex: 5;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.course-pill-level-time{
    display: flex;
    justify-content: space-between;
}

.course-pill-level{
    display: flex;
    gap: 0.5rem;
}

.course-pill-level button{
    padding: 3px 6px;
    font-size: 0.7rem;
    border-radius: 10px;
    border: none;
}

.course-pill-level button:first-child{
    background-color: var(--html-color);
}

.course-pill-level button:last-child{
    background-color: var(--easy-color);
}

.course-pill-name p{
    font-size: 2rem;
}

.course-pill-progress{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid var(--text-color);
    border-radius: 50%;
    width: 80px;
    height: 80px;
}

.course-pill-progress p {
    font-size: 1.5rem;
}