header{
    position: fixed;
    background-color: var(--background-color)
}

.logo-container a{
    font-size: 2.5rem;
    letter-spacing: 5px;
}

.theme-grade-container, .user-identity-container{
    display: flex;
    align-items: center;
    gap: 2rem;
}

.theme-container button{
    background: none;
    border: none;
    cursor: pointer;
}

.user-photo-container{
    width: 50px;
    height: 50px;
}

.user-photo-container img{
    width: 100%;
}

.user-photo-container, .user-identity-container img{
    border-radius: 50%;
}