header{
    position: fixed;
    background-color: var(--background-color);
    height: 15vh;
    max-height: 100px;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
}

.logo-container a{
    font-size: 2.5rem;
    letter-spacing: 5px;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo-container a p{
    font-size: 2rem;
    color: var(--purple-color);
    font-weight: 700;
}

.logo-container {
    height: 100%;
}

.logo-container img{
    height: 100%;
}

.theme-grade-container, .user-identity-container{
    display: flex;
    align-items: center;
    gap: 2rem;
}

.theme-container button{
    background: none;
    border: none;
    cursor: pointer;
}

.user-photo-container{
    width: 50px;
    height: 50px;
}

.user-photo-container img{
    width: 100%;
}

.user-photo-container, .user-identity-container img{
    border-radius: 50%;
}